<%- include('partials/header') %>

<main class="container">
    <h1><%= title %></h1>
    
    <ul class="projects-list">
        <% projects.forEach(project => { %>
            <li>
                <!-- Enlace al detalle del proyecto -->
                <a href="/project/<%= project.project_id %>">
                    <strong><%= project.title %></strong>
                </a> 
                - Organized by: 
                <!-- Enlace al detalle de la organización -->
                <a href="/organization/<%= project.organization_id %>">
                    <%= project.organization_name %>
                </a>
            </li>
        <% }) %>
    </ul>
</main>

<%- include('partials/footer') %>